.re_header_baseline {
    position: fixed;
    bottom: 1.1rem;
    left: 50%;
    transform: translate(-50%);

    width: max-content;

    border: 0.1rem solid var(--opposed-neutral-100);
    box-shadow: 0 0 40px var(--beige-100);
    border-radius: 1.15rem;
    padding: 0.2rem;
    background-color: white;


    display: flex;
    justify-content: space-between;

    /* transition: 300ms; */
    transition: .5s cubic-bezier(.76,0,.24,1);

    & .re_close {
        transition: .5s cubic-bezier(.76,0,.24,1);
    }

    & .re_logo {
        transition: .5s cubic-bezier(.76,0,.24,1);
    }
    
    & .re_nav {
        display: flex;
        justify-content: space-between;
        transition: .5s cubic-bezier(.76,0,.24,1);

        & .neutral_clickable {
            transition: .5s cubic-bezier(.76,0,.24,1);
        }
    }

    & .re_pop_up {
        display: flex;
        flex-direction: column;
    
        position: fixed;
        bottom: 3.5rem;
        left: 50%;
        transform: translate(-50%);
    
        background-color: white;
        box-shadow: 0 0 80px var(--beige-100);
        border: 0.1rem solid var(--opposed-neutral-100);
        border-radius: 1.1rem;
    
        width: max-content;
        padding: 0.2rem;
    }
}

.re_header_expanded {
    & .re_nav {
        transform: scale(.6);
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transform: translateY(100%);
        
        & .neutral_clickable {
            font-size: 0 !important;
            margin: 0 !important;
            padding: 0 !important;
        }
    }

    & .re_logo {
        transform: scale(.6);
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transform: translateY(100%);
        font-size: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}

.re_header_collapsed {

    & .re_nav {
        transform: scale(.6);
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transform: translateY(100%);
        
        & .neutral_clickable {
            font-size: 0 !important;
            margin: 0 !important;
            padding: 0 !important;
        }
    }

    & .re_pop_up {
        pointer-events: none;
        visibility: hidden;
    }

    & .re_close {
        transform: scale(.6);
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transform: translateY(100%);
        font-size: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}

.re_header_neutral {
    & .re_pop_up {
        pointer-events: none;
        visibility: hidden;
    }

    & .re_close {
        transform: scale(.6);
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transform: translateY(100%);
        font-size: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}