.bottom_floating_header {
    display: flex;
    justify-content: space-between;

    position: fixed;
    bottom: 1.1rem;
    left: 50%;
    transform: translate(-50%);

    background-color: white;
    border: 0.1rem solid gray;
    border-radius: 1.1rem;

    transition: 1s ease-out;

    & a, button {
        margin: 0;
        color: #34495e;
        padding-inline: 1.1rem;
    }

    & a {
        text-decoration: none;
    }

    & h3 {
        margin: 0;
    }

    & button {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    & nav {
        display: flex;
        justify-content: space-between;
    }

    .hidden_nav {
        display: none;
    }

    .header_pop_up_menu_hidden {
        display: none;
    }

    .header_pop_up_contact_hidden {
        display: none;
    }

    .close_hidden {
        display: none;
    }
}

.header_pop_up_menu {
    display: flex;
    flex-direction: column;

    position: fixed;
    bottom: 2.2rem;
    left: 50%;
    transform: translate(-50%);

    background-color: white;
    border: 0.1rem solid gray;
    border-radius: 1.1rem;

    padding: 1.1rem;
}

.header_pop_up_contact {
    display: flex;
    flex-direction: column;

    position: fixed;
    bottom: 2.2rem;
    left: 50%;
    transform: translate(-50%);

    background-color: white;
    border: 0.1rem solid gray;
    border-radius: 1.1rem;

    padding: 1.1rem;
}