.bottom_floating_header {
    position: fixed;
    bottom: 5.1rem;
    left: 50%;
    transform: translate(-50%);

    width: max-content;
    height: 1.5rem;

    border: 0.1rem solid var(--opposed-neutral-100);
    box-shadow: 0 0 40px var(--beige-100);
    border-radius: 1.15rem;
    padding: 0.2rem;
    background-color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    transition: .5s cubic-bezier(.76,0,.24,1);

    & .bfh_logo {
        transition: .5s cubic-bezier(.76,0,.24,1);
    }

    @define-mixin hide-logo {
        & .bfh_logo {
            transform: scale(.6);
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transform: translateY(50%);
            font-size: 0 !important;
            margin: 0 !important;
            padding: 0 !important;
        }
    }

    & .bfh_nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        transition: .5s cubic-bezier(.76,0,.24,1);

        & .neutral_clickable {
            transition: .5s cubic-bezier(.76,0,.24,1);
        }
    }

    @define-mixin hide-nav {
        & .bfh_nav {
            transform: scale(.6);
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transform: translateY(50%);
            
            & .neutral_clickable {
                font-size: 0 !important;
                margin: 0 !important;
                padding: 0 !important;
            }
        }
    }

    &[data-state="neutral"] {
    }

    &[data-state="expanded"] {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        @mixin hide-logo;
        @mixin hide-nav;
    }

    &[data-state="collapsed"] {
        @mixin hide-nav;
    }
}

.bfh_pop_up {
    position: fixed;
    bottom: 10rem;
    left: 50%;
    transform: translate(-50%);

    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 0.2rem;
    border: 0.1rem solid var(--opposed-neutral-100);
    box-shadow: 0 0 40px var(--beige-100);
    border-radius: 1.15rem;
    background-color: white;

    width: max-content;
    height: 20rem;

    transition: .5s cubic-bezier(.76,0,.24,1);

    & .neutral_clickable {
        transition: .5s cubic-bezier(.76,0,.24,1);
    }

    &[data-state="exposed"] {
        opacity: 1;
        visibility: visible;
    }

    &[data-state="hidden"] {
        opacity: 0;
        visibility: hidden;
    }
}

.bfh_pop_up_closer {
    position: fixed;
    bottom: 5.1rem;
    left: 50%;
    transform: translate(-50%);

    width: max-content;
    height: 1.5rem;

    border: 0.1rem solid var(--opposed-neutral-100);
    box-shadow: 0 0 40px var(--beige-100);
    border-radius: 1.15rem;
    padding: 0.2rem;
    background-color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    transition: .5s cubic-bezier(.76,0,.24,1);

    & .neutral_clickable {
        transition: .5s cubic-bezier(.76,0,.24,1);
    }

    &[data-state="exposed"] {
    }

    &[data-state="hidden"] {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        & .neutral_clickable {
            font-size: 0 !important;
            margin: 0 !important;
            padding: 0 !important;
        }
    }
}