.article_container {
    max-width: 55rem;
    margin: clamp(1.8rem, 7.5vw, 3.6rem) auto 0;

    & .aliases_container * {
        font-size: clamp(1.8rem, 7.5vw, 3.6rem); 
        font-weight: 900;
    }

    & .preview_and_description {
        display: flex;
        justify-content: start;

        margin-top: clamp(1.8rem, 7.5vw, 3.6rem);
    
        & img {
            aspect-ratio: 1 / 1;
            min-width: 12rem;
            max-width: 45%;
            margin: 0;
        }
    
        & h1 {
            font-size: clamp(1.2rem, 3.5vw, 2rem); 
            font-weight: 600;
            margin-top: 1.2rem;
            margin-left: 1.2rem;
        }
    }

    & .article_itself {
        margin-top: clamp(1.8rem, 7.5vw, 3.6rem);
        
        & h2 {
            font-size: clamp(2rem, 3.3vw, 3rem); 
            font-weight: 900;
        }
    
        & p {
            font-size: clamp(1.2rem, 2.5vw, 1.5rem); 
            font-weight: 300;
        }
    
        & table {
            table-layout: fixed;
            width: 100%;
            border-collapse: collapse;
        }
    
        & th, td {
          padding-right: 1.2rem;
        }
    }

    @media(max-width: 35rem) {
        & {
            & .aliases_container {
                margin-left: .6rem;
            }

            & .preview_and_description {
                display: block;
                margin: 1.2rem .6rem 0;
        
                & img {
                    aspect-ratio: 1 / 1;
                    min-width: none;
                    max-width: none;
                    width: 100%;
                    margin: 0;
                }
        
                & h1 {
                    margin-left: 0;
                }
            }
        }
    }
}