@define-mixin lining-glass {
    border: 0.1rem solid #25282D;
    box-shadow: 0 0 40px floralwhite;
    border-radius: 1.15rem;
    padding: 0.2rem;
    background-color: rgba(255, 250, 240, 0.8);
    backdrop-filter: blur(0.1rem);
    -webkit-backdrop-filter: blur(0.1rem);
}

@define-mixin neutral-clickable {
    font-size: clamp(1.2rem, 2.5vw, 1.5rem); 
    font-weight: 300;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #25282D;
}

@define-mixin hide-element-in-header {
    transform: scale(.6);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(50%);
    font-size: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}

@keyframes expose-headers-pop-up {
    from { opacity: 0; height: 0; padding-bottom: 0; }
    to { opacity: 1; }
}

@keyframes hide-headers-pop-up {
    from { opacity: 1; }
    to { opacity: 0; height: 0; padding-bottom: 0; }
}

.bottom_floating_navigational_header_container {
    & header, nav, address {
        @mixin lining-glass;
    }

    & a, button {
        @mixin neutral-clickable;
    }

    & header a, header button {
        padding-inline: clamp(.6rem, 1.25vw, .75rem);
    }

    & nav a, address a {
        padding: clamp(1.2rem, 2.5vw, 1.5rem) clamp(1.2rem, 2.5vw, 1.5rem) 0;
    }

    & .close_btn {
        transition: .5s cubic-bezier(.76,0,.24,1);
    }

    & header {
        position: fixed;
        z-index: 9999;
        bottom: 1.5rem;
        left: 50%;
        transform: translate(-50%);

        width: max-content;
        height: 1.5rem;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &[data-state="neutral"] {
            & .close_btn {
                @mixin hide-element-in-header;
            }
        }
    
        &[data-state="expanded"] {
        }
    
        &[data-state="collapsed"] {
        }
    }

    & nav {
        position: fixed;
        z-index: 9999;
        bottom: 5.5rem;
        left: 50%;
        transform: translate(-50%);
        /* transform-origin: -100% 50%; */
        /* transform: scale(.6); */

        padding-bottom: clamp(1.2rem, 2.5vw, 1.5rem);
        width: max-content;
        height: calc(7 * clamp(1.2rem, 2.5vw, 1.5rem));
        overflow: hidden;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;

        transition: visibility .5s cubic-bezier(.76,0,.24,1);

        &[data-state="exposed"] {
            animation: .5s cubic-bezier(.76,0,.24,1) expose-headers-pop-up forwards;
        }
    
        &[data-state="hidden"] {
            pointer-events: none;
            visibility: hidden;
            animation: .5s cubic-bezier(.76,0,.24,1) hide-headers-pop-up forwards;
        }
    }

    & address {
        position: fixed;
        z-index: 9999;
        bottom: 5.5rem;
        left: 50%;
        transform-origin: bottom right;
        transform: translate(-50%);

        width: max-content;
        height: 12rem;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;

        transition: visibility .5s cubic-bezier(.76,0,.24,1);

        &[data-state="exposed"] {
            animation: .5s cubic-bezier(.76,0,.24,1) expose-headers-pop-up forwards;
        }
    
        &[data-state="hidden"] {
            pointer-events: none;
            visibility: hidden;
            animation: .5s cubic-bezier(.76,0,.24,1) hide-headers-pop-up forwards;
        }
    }
}