body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.normal {
    background-color: violet;
}

.fadeIn {
    animation: .5s cubic-bezier(.76,0,.24,1) fadeIn forwards;
}

.fadeOut {
    animation: .5s cubic-bezier(.76,0,.24,1) fadeOut forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1;}
    to { opacity: 0;}
}