body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	color: #34495e;
	background-color: floralwhite;
	color-scheme: var(--color-scheme);
}

@custom-selector :--all-textual-selectors h1, h2, h3, h4, h5, h6, button, a;

:--all-textual-selectors {
	font-size: 1.1rem;
	font-weight: bold;
	padding: 0;
}

/* Global variables */

:root {
	/* Brand colors */
	--beige-100: rgba(255, 250, 240, 1);
	--beige-70: rgba(255, 250, 240, 0.7);
	--beige-40: rgba(255, 250, 240, 0.4);
	--beige-20: rgba(255, 250, 240, 0.2);
}

/* Themes */

.theme-light {
    --color-scheme: light;
}

.theme-dark {
    --color-scheme: dark;
}